/* Buttons
========================================================================== */

%button--base, .button--base{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: $padding-half;
  text-align: center;
  font-family: $font-tertiary;
  border-radius: 0;
  border-width: 0;
  @extend %transition-bg-color;
  .fa{
    padding-right: $padding-quarter;
  }
}

%button--icon-only, .button--icon-only{
  .fa{
    padding: 0;
  }
}

.button--primary, .button--secondary{
  @extend %button--base;
}

.button--primary{
  color: $text--button-primary;
  background-color: $bg--button-primary;
  &:hover, &:focus{
    background-color: $bg--button-primary--hover;
  }
}

.button--secondary{
  color: $text--button-secondary;
  background-color: $bg--button-secondary;
  &:hover, &:focus{
    background-color: $bg--button-secondary--hover;
  }
}
