/* ==========================================================================
   Global
   ========================================================================== */

* {
  @include border-box;
  &:before, &:after {
    @include border-box;
  }
}

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 62.5%;
  height: 100%;
  @include font-size(16);
}

body {
  line-height: $line-height;
  height: 100%;
  font-family: $font-secondary;
  word-break: break-word;
  @include font-smoothing;
}

section{
  position: relative;
  clear: both;
  padding: $padding-half 0;
}

blockquote {
  background: $bg--blockquote;
  margin: 0;
  padding: $padding-double $padding-double $padding-double (60px + $padding);
  position: relative;
  border-left: 10px solid $border--blockquote;
  margin: $padding-half 0;
  color: $text--blockquote;
  &:before{
    content: open-quote;
    font-size: 60px;
    line-height: $line-height;
    position: absolute;
    left: (10px + $padding);
    top: ($padding - 10px);
  }
}

figure{
    margin: 0;
    padding-bottom: $padding;
    position: relative;
  }
  figcaption{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    @include font-size($h5);
    p{
      margin: 0;
    }
  }
