/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

iframe{
  max-width: 100%;
}

.video, .audio--ramp{
  width: 100%;
  min-height: 300px;
}
